.sample{
        border-radius: 30px;
        background: rgb(255,194,16);
        background: linear-gradient(90deg, rgba(255,194,16,1) 35%, rgba(255,215,55,1) 100%);
    }

.round{
    border-radius: 50px;
}

.toggle {
    margin-left: 120px;
    margin-top: 60px;
}

.dot{
    max-width: 20px;
    height: 10px;
    position: relative;
    /* margin-right: 15px; */
}