.sample{
        border-radius: 30px;
        background: rgb(255,194,16);
        background: linear-gradient(90deg, rgba(255,194,16,1) 35%, rgba(255,215,55,1) 100%);
    }

.round{
    border-radius: 50px;
}

.toggle {
    margin-left: 120px;
    margin-top: 30px;
}

.dot{
    max-width: 20px;
    height: 10px;
    position: relative;
    /* margin-right: 15px; */
    margin-top: -17px;
}

.category-font{
    font-weight: bold;
    font-size: 21px;
    font-family: Arial;
}

.outbound-position{
    margin-left: 200px;
    margin-top: 15px;
}

.tracker{
    left: 255px;
}

.case-table{
    margin-left: 70px;
}